<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <div>
    <% if @user == current_user %>
      <p>e-mail&nbsp;&nbsp;<%= @user.email %></p>
    <% end %>
      <p><%= t('views.user_info.location') %>&nbsp;&nbsp;<%= @user.location.present? ? @user.location : "＜no-data＞" %></p>
  </div>
</section>
<h3>
  <%= link_to t('views.user_info.User'), @user %><br>
  <%= link_to t('views.user_info.Follow'), followings_user_path(@user) %>(<%= @user.following_users.count %>)<br>
  <%= link_to t('views.user_info.Follower'), followers_user_path(@user) %>(<%= @user.follower_users.count %>)
</h3>